__pycache__/
*.py[cod]
*.class
.venv/
venv/
env/
.env
build/
dist/
Output/
exports/
master.xlsx
settings.json
*.docx
*.xlsx
*.log
*.exe
*.pdf
.vscode/
.idea/
.cursor/
.windsurf/
.codeium/

# Project assets
!Pictures/
!Logo.ico
!Logo.png
!pyside7.0_gui.spec
